<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height:100%;">
<head>
  <title>JanuszPol :: ReST API Server</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</head>
<body style="height: 100%;">
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="text-center">
      <h1><i class="fas fa-bus"></i> JanuszPol :: Serwer aplikacji <i class="fas fa-bus"></i></h1>
      <h3>Bo busy to nasza pasja!</h3>
      <h3>Status: <span style="color: #7fd031;">zdrowy</span></h3>
    </div>
  </div>
</div>
</body>
</html>